.main-card-header {
    display: flex;
    justify-content: space-between;
}

.tenant-card-body-wrapper {
  display: flex;
  justify-content: flex-start;

}

.tenant-card-body-form-field {
  margin: 0 10px;
}

.tenant-card-remove-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.tenant-card-body-list {
  padding: 5px 0px 15px;
}

nb-form-field {
  margin: 5px;
}
