<nb-accordion class="mt-3" >
  <nb-accordion-item>
   <nb-accordion-item-header class="accordion-item-header">
     <span>{{newBuilding.street_number}} {{newBuilding.street_name}}, {{newBuilding.city}}</span>
    <div>
      <button nbButton (click)="modifyBuilding(newBuilding)">
        <nb-icon icon='edit' pack="fa"></nb-icon>
     </button>
      <button nbButton (click)="deleteBuilding(newBuilding.id)">
        <nb-icon icon='trash' pack="fa" status="danger"></nb-icon>
     </button>
    </div>
   </nb-accordion-item-header>
   <nb-accordion-item-body>
     <nb-list>
       <nb-list-item *ngFor="let a of newBuilding.appartments" (click)="selectAppartment(a)" [appartment]="appartment">{{a.civic_number}}</nb-list-item>
     </nb-list>
     <button nbButton status="info" (click)="addNewAppartment()">Ajouter un appartement</button>
   </nb-accordion-item-body>
  </nb-accordion-item>
 </nb-accordion>
