<div class="row">
  <nb-card class="col-md-4">
    <nb-card-header>
      <figure>
        <img src="#" alt="product image">
      </figure>
    </nb-card-header>
    <nb-card-body>
      <h5>title</h5>
      <h6>description</h6>
      <h6>price $</h6>
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>Propriétées du produit</nb-accordion-item-header>
        </nb-accordion-item>
      </nb-accordion>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton outline status="primary">
        <nb-icon icon="eye" pack="fa" style="font-size: large;"></nb-icon>
      </button>
      <button nbButton outline status="danger" class="ml-1">
        <nb-icon icon="trash-alt" pack="fa" style="font-size: large;"></nb-icon>
      </button>
    </nb-card-footer>
  </nb-card>
</div>
